<!DOCTYPE html>
<html lang="en">
  <head th:replace="common/header :: common-header"/>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
        
        <!-- Sidebar -->
      	<div th:replace="common/header :: common-sidebar"/>

        <!-- top navigation -->
        <div th:replace="common/header :: common-navbar"/>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 th:text="${action + ' Event'}"></h3>
			  </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="alert alert-danger" th:if="${courseExists}">
  				<strong>Careful!</strong> Course already exists, use another.
			</div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <form class="form-horizontal form-label-left" th:action="@{|/event/${action}|}" method="POST">
                      <input type="hidden" name="id" th:value="${event.id}" />
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" th:value="${event.name}"  name="name" placeholder="both name(s) e.g Event A " required="required" type="text"/>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"  for="description">Description <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="description" name="description" th:field="${event.description}" required="required" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"  for="eventDateTime">Date<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class='input-group date'>
                          	<input id="eventDateTime" type="text" name="eventDateTime"  th:value="${event.eventDateTime}" required="required" class="form-control col-md-7 col-xs-12" />
                          	<span class="input-group-addon">
                               <span class="glyphicon glyphicon-calendar" id="eventDateTime"></span>
                            </span>
						   </div>
                         </div>
                       </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Course <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="course">
                           <option></option>
                            <option th:each="course : ${courses}"  th:value="${course.id}" th:text="${course.name}" th:selected="${action == 'edit' ? (course.id == event.course.id) : (1 == 0)}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location">Location <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="location" class="form-control col-md-7 col-xs-12" th:value="${event.location}"  name="location" placeholder="both name(s) e.g Orik Hoxha" required="required" type="text"/>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <a th:href="@{/event/list}"  type="submit" class="btn btn-primary">Cancel</a>
                          <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="common/footer :: common-footer"/>
        
        <!-- bottom scripts -->
        <div th:replace="common/footer :: common-bottom-scripts" />
        <script>
	        $(function(){
	        	$('#eventDateTime').datetimepicker({
			        format: 'MM/DD/YYYY HH:mm'
			    });
	        });
        </script>
      </div>
    </div>
  </body>
</html>